[submodule "plugins/system/pemasoft_telegram_webhook"]
	path = plugins/system/pemasoft_telegram_webhook
	url = https://github.com/PM84/pemasoft_telegram_webhook_plugin_system.git
[submodule "modules/mod_pemasoft_feedreader"]
	path = modules/mod_pemasoft_feedreader
	url = https://github.com/PM84/mod_pemasoft_feedreader.git
[submodule "components/com_pemasoftfeedreader"]
	path = components/com_pemasoftfeedreader
	url = https://github.com/PM84/com_pemasoft_feed_reader_site.git
[submodule "administrator/components/com_pemasoftfeedreader"]
	path = administrator/components/com_pemasoftfeedreader
	url = https://github.com/PM84/com_pemasoft_feed_reader_admin.git
[submodule "plugins/authentication/pmstelegram"]
	path = plugins/authentication/pmstelegram
	url = https://github.com/PM84/plg_auth_telegram.git
